<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{% url "social:begin" "github" %}">GitHub</a>
    <p>
        {% load socialaccount %}
        {% block content %}
            <button class="btn btn-outline-info">
                <a href="{% provider_login_url 'google'%}?next=/">
                    <i class="fab fa-google"></i>
                    Login with Google
                </a>
            </button>
        {% endblock content %}
    </p>
</body>
</html>